<p id="notice"><%= notice %></p>

<p>
  <b>ComponentName:</b>
  <%= component.name %>
</p>
  
<p>
  <table class='show_component'>
  <th colspan='2'>Component Information</th>
  <tr>
  <td>Name</td>
  <td>
  <%= component.name %>
  </td>
  </tr>
  </table>
</p>

