<div id="top_menu">
<%= link_to "|SERVICE", :controller=>"services", :action=>"index" %>
<%= link_to "|COMPONENT", :controller=>"components", :action=>"index" %>
<%= link_to "|SERVER", :controller=>"servers", :action=>"index" %>
<%= link_to "|SOFTWARE|", :controller=>"softwares", :action=>"index" %>
</div>
