/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require dynatree/skin
 *= require_tree .
 */

div#header, div#footer {
/*
  background-color: #909;
  background-color: white;
  color: #ccc;
*/
}

div#ctree {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
/*
  background-color: limegreen;
*/
}

div#admin_link {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span.tree a {background-color: yellow;}

table.download_menu {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-spacing: 1;
  border: 1px solid white;
}
table.download_menu td {
  padding: 1px;
  text-align: center;
  font-size: 8pt;
  background-color: indianred;
  color: white;
}

div#top_menu {
  text-align: center;
  font-weight: bold;
/*
  background-color: red;
  color: white;
*/
}
/*
table.search_form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-spacing: 1;
  border: 1px solid white;
}

table.search_form th {
  background-color: green;
  padding: 1px;
/*
  color: white;
*/
  text-align: center;
  font-size: 8pt;
}
table.search_form td {
  background-color: limegreen;
  padding: 1px;
/*
  color: white;
*/
  text-align: center;
  font-size: 8pt;
}
table.search_result {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-spacing: 1;
  border: 1px solid white;
}
table.search_result td {
  background-color: limegreen;
  padding: 1px;
/*
  color: white;
*/
  text-align: center;
  font-size: 8pt;
}
*/
