/* INDEX/LIST component */

table.components {  
    width: 400px;
    margin: 0px auto;
    border-spacing: 1;
    font-size: 8pt;
    border: 1px solid #ffffff;  
}  

table.components th{
    background-color: darkred;  
    color: white;
    font-size: 8pt;
}
      
table.components tr {  
    border: solid 1px #11111111;  
}

table.components td {  
    background-color: indianred;
    padding: 1px;
    color: white;
    text-align: center;
    font-size: 8pt;
}

/* SHOW component */

table.show_component {  
    width: 400px;
    margin: 0px auto;
    border-spacing: 1;
    font-size: 8pt;
    border: 1px solid #ffffff;  
}

table.show_component th{
    background-color: darkred;  
    color: white;
    font-size: 8pt;
}
      
table.show_component tr {  
    border: solid 1px #11111111;  
}

table.show_component td {  
    background-color: indianred;
    padding: 1px;
    color: white;
    text-align: center;
    font-size: 8pt;
}

div#component_server {
    text-align: center;
}
div#server_software {
    text-align: center;
}
div#title {
    text-align: center;
}
div#foot_menu {
    text-align: center;
}
